@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Regular.eot');
  src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('OpenSans-Regular.woff') format('woff'), url('OpenSans-Regular.ttf')  format('truetype'), url('OpenSans-Regular.svg#dc56f0938c09c27a4156bb0f8f5176a2') format('svg');
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('OpenSans-Semibold.eot');
  src: url('OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('OpenSans-Semibold.woff') format('woff'), url('OpenSans-Semibold.ttf')  format('truetype'), url('OpenSans-Semibold.svg#b96880fafbf6b051ff49d9fe8a31137c') format('svg');
  font-style:   normal;
  font-weight:  700;
}
